.campsite-show {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 18%;
    padding-right: 19%;
    background-color: rgb(255, 255, 255);
}

.show-header {
    margin-bottom: 20px;
}

.show-title {
    font-size: 45px;
    margin: 0;
}

.show-location {
    font-size: 14px;
}

.save {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    padding: 1%;
    font-size: 15px;
    font-weight: 550;
}

.save:hover {
    border: 2px solid black;
    cursor: pointer;
}

.save-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.show-img {
    display: flex;
    width: 100%;
    height: 30%;
    border-radius: 15px;
}

.show-details {
    width: 65%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.includes {
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 5%;
    font-size: 15px;
}

.show-description {
    padding-top: 4%;
}

.details-reservaitons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
     
}

.show-reservations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}